:root{
      --prime-color:#f1f1f1;
      --dark-color:#333;
      --hover-color:#555;
}

* {
      box-sizing: border-box;
}

body {
      font-family: Arial;
      padding: 10px;
      background: var(--prime-color);
}

.header {
      padding: 30px;
      text-align: center;
      background: var(--prime-color);
}

.header h1 {
      font-size: 50px;
}

.topnav {
      overflow: hidden;
      background-color: var(--dark-color);
      position: sticky;
      top: 0;
}

.topnav a {
      float: right;
      display: block;
      color: var(--prime-color);
      text-align: center;
      padding: 16px 22px;
      text-decoration: none;
}

.topnav a:hover {
      background-color: var(--prime-color);
      color: var(--dark-color);
}

.leftcolumn {   
      float: left;
      width: 75%;
}

.rightcolumn {
      float: left;
      width: 25%;
      background-color: var(--prime-color);
      padding-left: 20px;
}
.rightcolumn .card{
      text-align: center;
}

.rightcolumn .card.fakeimg{
      text-align: center;
}

.fakeimg {
      background-image: url(https://picsum.photos/200/300);
      background-repeat:no-repeat;
      background-size:cover;
      width: 100%;
      padding: 20px;
      margin: 4px;
      height: 90px;
      cursor: pointer;
}

.card {
      background-color: var(--prime-color);
      padding: 20px;
      margin-top: 20px;
}

.rightcolumn .card .socail-links{
      color: var(--dark-color);
      font-weight: 700;
      text-decoration: none;
      text-align: left;
      padding: 57px 30px;
      display: inline-block;
      margin-bottom: 12px;
}

.row::after {
      content: "";
      display: table;
      clear: both;
}

.footer {
      padding: 20px;
      text-align: center;
      background: var(--dark-color);
      margin-top: 20px;
      color: var(--prime-color);
}

@media screen and (max-width: 800px) {
.leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
}
}

@media screen and (max-width: 400px) {
.topnav a {
      float: none;
      width: 100%;
}
}
